body{
font-family:Arial;
background:#e4e4e4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.auth-container, .todo-container{
background:#f8f8f8;
padding:25px;
width:350px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align:center;
}

input{
width:90%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:6px;
background:#eee;
}

button{
background:#444;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#222;
}

ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
background:#ececec;
padding:8px;
margin-top:8px;
border-radius:6px;
}

.completed{
text-decoration:line-through;
color:#777;
}

.actions{
display:flex;
gap:5px;
}

.logout{
margin-top:15px;
background:#222;
}

#taskCounter{
color:#555;
font-size:14px;
margin-bottom:10px;
}